/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/

$dark: #3f4041;

.item-radio .radio-icon{
  top: -5px !important;
}

/*alterar select*/
.ion-input-select,
select {
  -webkit-appearance:none;
  background-repeat: no-repeat;
  background-color: rgba(0,0,0,0);  
  border:thin solid #dddddd;
  font-weight:300;
  display:inline;
  vertical-align:middle;
  color:#333;
  padding: auto 0;
  overflow:hidden;
  box-sizing:border-box;

}

.ion-input-select {
  width:200px;
  font-size:1rem;
  background-image: url(https://i.imgur.com/nA9xx1X.png);
  text-indent:20px;
  padding:.5rem 0;
}

.ion-input-select2 {
  width:100px;
  font-size:1rem;
  background-image: url(https://i.imgur.com/nA9xx1X.png);
  text-indent:20px;
  padding:.5rem 0;
}

select::-ms-expand {
    display: none;
}

:focus {
  outline:none;
}

.no-padding {
    padding: 0px !important;
}

.item-select select {
  max-width: 100%!important;
  width: 100%!important;
  
  direction: ltr!important;
  padding: none !important;
}

.item-select {
  height: 100%;
  width: 100%;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}
.item-input{
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}

/*barra força de senha*/
meter {
  width: 100%;
}

.styled meter {
  /* Reset the default appearance */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  width: 100%;
  height: 30px;
  
  /* For Firefox */
  background: #EEE;
  box-shadow: 0 2px 3px rgba(0,0,0,0.2) inset;
  border-radius: 3px;
}

/* WebKit */
.styled meter::-webkit-meter-bar {
  background: #EEE;
  box-shadow: 0 2px 3px rgba(0,0,0,0.2) inset;
  border-radius: 3px;
}

.styled meter::-webkit-meter-optimum-value,
.styled meter::-webkit-meter-suboptimum-value,
.styled meter::-webkit-meter-even-less-good-value {
  border-radius: 3px;
}

.styled meter::-webkit-meter-optimum-value {
  background: #86CC00;
}

.styled meter::-webkit-meter-suboptimum-value {
  background: #FFDB1A;
}

.styled meter::-webkit-meter-even-less-good-value  {
  background: #CC4600;
}

/*divisores hr*/
.divider {
  width: 100%;
  text-align:center;
}

.divider hr {
  margin-left:auto;
  margin-right:auto;
  width:45%;

}

.leftt {
  float:left;
}

.rightt {
  float:right;
}


em, i{
  font-style: italic !important;
}

/*logo*/
.logo {
		
	display: block;
  	margin-left: auto;
	margin-right: auto;
	width: 70%;
	height: auto;
}

.tam{
	height: 70px;
	width: auto;
}

/*sidebar*/
.custom{
  background-color: #A6E3E9 !important;
}

.teste{ 
  background-color: #625772 !important;
}
.custom .item {
    background-color: #CBF1F5;
    border: none;
    border-top: 1px solid #464646;
    border-bottom: 1px solid #333333;
    max-height: none;
}

.custom .item .item-content{
    background-color: transparent !important;

}

    .custom .item:last-child {
      border-bottom: 1px solid #333333;
    }

.custom .item .current{ background-color:darken( $dark, 10% )   !important;
    border-top: 1px solid #464646 !important;
    border-bottom: 2px solid #333333 !important;
      p,h3{opacity: .7;}
}

  
/*padrão de cores das telas*/
.padrao{
		
	background-color: #F1F1F1 !important;
  	color: #40514E;
  	
  	.item .item-content{
  		background-color: transparent !important;
  	}
  	h1,h2,h3,h4,h5,p,a{
    	     color: #40514E;
  	}
  	.cor{
  		background-color: #11999E !important;
  		color: white;
  	}

}

.adicionar{
  
  position: absolute !important;
  right: 20px !important; 
  bottom: 30px !important;
}


.dark-head {
  text-decoration: none;
}


.centro{
	
	display: block;
  	margin-left: auto;
	margin-right: auto;
}

.col.borda {
	
	border: 1px solid;
	border-color:   darken( #11999E, 10% );
	padding: 20px;
}

.col.bord {
	
 	border: 1px solid;
	border-color:   darken( #11999E, 10% );
}

div.link {
	position: relative;
	top: 12px;
	right: 5px;
}

a.text-right{
	text-align: right;
}

.check{
  border: none !important;
  background-color: transparent !important;
}

.texto-input{
  max-width: 100% !important;
  width: 100% !important;
}

// Largura do popup
.popup-container .popup {
  width: 85% !important;
}


// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;

// Include all of Ionic
@import "www/lib/ionic/scss/ionic";

table {
  border: 2px solid black;
  border-radius: 5px;
  background-color: white;
  width: 200px;
}
td {
  background-color: white;
  border: 1px solid black;
  padding: 5px;
  width: 100px;
  text-align: center;
}

.inicioFim {
  width: 50px;
  height: 50px;
  border: 2px solid black;
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
  background-color: white;
}

.critico {
  border: 2px solid #6b46e5;
}